---
import { profileConfig, siteConfig } from "@/config";

interface Props {
	title?: string;
	description?: string;
	setOGTypeArticle?: boolean;
	ogImageUrl?: string;
}

const { title, description, setOGTypeArticle, ogImageUrl } = Astro.props;

let pageTitle: string;
if (title) {
	pageTitle = `${title} - ${siteConfig.title}`;
} else {
	pageTitle = siteConfig.subtitle
		? `${siteConfig.title} - ${siteConfig.subtitle}`
		: siteConfig.title;
}
---

<title>{pageTitle}</title>
<meta
  name="description"
  content={description || siteConfig.description || pageTitle}
/>
{
  siteConfig.keywords && siteConfig.keywords.length > 0 && (
    <meta name="keywords" content={siteConfig.keywords.join(", ")} />
  )
}
<meta name="author" content={profileConfig.name} />

<meta property="og:site_name" content={siteConfig.title} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={pageTitle} />
<meta
  property="og:description"
  content={description || siteConfig.description || pageTitle}
/>
{ogImageUrl && <meta property="og:image" content={ogImageUrl} />}
{
  setOGTypeArticle ? (
    <meta property="og:type" content="article" />
  ) : (
    <meta property="og:type" content="website" />
  )
}

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta name="twitter:title" content={pageTitle} />
<meta
  name="twitter:description"
  content={description || siteConfig.description || pageTitle}
/>

<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
